<h1>
    Welcome to gitPub
</h1>
    <ul>
        <% drinks.forEach((drink, index)=>{ %>
            <a href="/drinks/<%= index %>"><li><%=capitalize(drink.name) %> <%=bob() %>  <img src="<%= drink.image %>" alt="<%=drink.name %>" /></li></a>
       <% }) %>
    </ul>
    <style>
        body {
            background-color: bisque;
            color:blueviolet
        }
    </style>

